body{
    margin:0;
    padding-top: 800px;
    text-align: center;
}
.profile{
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    padding:10px;
    margin-top: 100px;
    height:600px;
}
#welcome{
    position:absolute;
    bottom: 0;
    background: linear-gradient(rgb(27, 133, 255) 0%, rgb(39, 255, 39) 100%);
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-variant: small-caps;
}
#name{
    font-family: 'Kenia', cursive;
    font-variant: small-caps;
    font-size:100px;
    color: rgb(0, 54, 0);
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}
.parallax-inner{
    display: table-cell;
    vertical-align: center;
}
#bio{
    font-family: cursive;
    padding: 200px;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;

}
p{
    font-size: 30px;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 10px;
}
.menu{
    position: fixed;
    background-color: rgb(32, 179, 236);
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}
.links{
display: inline;
padding-left: 33px;
padding-right: 25px;
font-family: 'Oswald', cursive;
font-size: 30px;
font-weight: bold;

}
a{
    text-decoration: none;
}
.links :hover{
    font-size: 35px;
    text-decoration: underline;
}
#writings a{
    text-decoration: underline !important;
    color: green !important;
    font-size: 20px;
}
.contact_1 h3{
    display: inline;
}
